<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fpointzero.mapper.StarMapper">
    <select id="getStarList" resultType="xyz.fpointzero.model.Star">
        SELECT *
        FROM star
                 left join video as v on star.vid = v.id
        WHERE star.uid = #{uid} AND star.`group` = #{group} ORDER BY star.`createTime` desc
    </select>
    <insert id="insertStar" parameterType="xyz.fpointzero.model.Star">
        INSERT INTO star (star.uid, star.vid, star.group)
        values (#{uid}, #{vid}, #{group});
    </insert>
    <insert id="insertStarDefault" parameterType="xyz.fpointzero.model.Star">
        INSERT INTO star (star.uid, star.vid)
        values (#{uid}, #{vid});
    </insert>
    <delete id="delete" parameterType="xyz.fpointzero.model.Star">
        DELETE FROM star WHERE uid = #{uid} and vid = #{vid} and `group` = #{group};
    </delete>
</mapper>