<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fpointzero.mapper.UserMapper">
    <select id="getById" resultType="xyz.fpointzero.model.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>
    <select id="getByEmail" resultType="xyz.fpointzero.model.User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>
    <select id="getByUsername" resultType="xyz.fpointzero.model.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>
    <update id="setAvatar">
        UPDATE user
        SET user.avatar = #{avatar}
        WHERE username = #{username}
    </update>

    <insert id="setEmail">
        INSERT INTO user (email) VALUES (#{email});
    </insert>
    <update id="setUsername">
        UPDATE user
        SET  username = #{username}
        WHERE email = #{email};
    </update>
    <update id="setPassword">
        UPDATE user
        SET password = #{password}
        WHERE email = #{email};
    </update>
    <update id="setVery">
        UPDATE user
        SET verification = #{very}, verificationTime = CURRENT_TIMESTAMP()
        WHERE email = #{email};
    </update>
    <update id="setAll" parameterType="xyz.fpointzero.model.User">
        UPDATE user SET user.username = #{username}, user.email = #{email}, user.phoneNumber = #{phoneNumber}
        WHERE username = #{username}
    </update>
</mapper>