* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*导航栏*/
.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px black;
    z-index: 99;
    flex-shrink: 0;
}
/*导航栏左边部分*/
.nav-left {
    width: 45%;
    height: 100%;
    display: inherit;
    justify-content: left;
    align-items: center;
    line-height: 100%;
}
.nav-left>a {
    margin: 0 10px;
    font-size: 14px;
    color: #18191C;
    cursor: pointer;
    text-decoration: none;
}
.nav-right>a {
    margin: 0 10px;
    font-size: 14px;
    color: #18191C;
}
.nav-img {
    vertical-align: middle;
    width: 25px;
}
/*导航栏中间部分*/
.nav-center {
    width: 36%;
    height: 100%;
    display: flex;
    align-items: center;
}
#nav-search-form {
    height: 60%;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f0f1f2;
    float: left;
    display: flex;
    align-items: center;
}
#nav-search-form input {
    display: inline-block;
    height: 60%;
    width: 80%;
    border: none;
    background-color: #f0f1f2;
    margin: 0 auto;
    padding: 5px;
}
#nav-search-form input:focus {
    outline: none;
    border: none;
    border-radius: inherit;
}
#search-icon {
    width: 30px;
    margin: 0 auto;
}
/*导航栏右边部分*/
.nav-right {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3% 0 0;
}
/*头像框*/
.head-box {
    width: 40px;
}
#head-img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
    transform-origin: 40px 0;
    position: relative;
    z-index: 2;
}
/*头像拓展部分*/
#head-more-box {
    position: absolute;
    display: none;
    width: 300px;
    height: 449px;
    top: 65px;
    right: 400px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 40px 20px 20px 20px;
    animation: display 0.5s ease-in-out;
    z-index: 1;
}
#head-more-box-title {
    font-size: 18px;
    color: #18191C;
    text-decoration: none;
    display: block;
    text-align: center;
}
#head-more-box-money {
    width: 100%;
    display: flex;
    justify-content: center;
}
#head-more-box-money a{
    display: inline;
    font-size: 12px;
    text-decoration: none;
}
#head-more-box-money a span {
    margin: 0 3px;
}
#head-more-box-money a:nth-child(1) span:nth-child(1) {
    color: #9499A0;
}
#head-more-box-money a:nth-child(1) span:nth-child(2) {
    color: #18191C;
}
#head-more-box-money a:nth-child(2) span:nth-child(1) {
    color: #9499A0;
}
#head-more-box-money a:nth-child(2) span:nth-child(2) {
    color: #18191C;
}
.head-box:hover #head-more-box {
    display: inline;
}
.head-box:hover #head-img{
    transform: scale(2);
}
#head-more-box>img {
    width: 100%;
}
#head-more-box #fans {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#head-more-box #fans>a {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 12px;
    color: #9499A0;
}
#head-more-box #fans>a>span {
    color: #18191C;
    font-size: 18px;
}

#head-more-box #recommend {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    text-align: center;
    font-size: 12px;
    color: deeppink;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(248, 175, 241, 0.78), rgba(255, 192, 203, 0.7));
}
#head-more-box #recommend>a {
    margin-right: 20px;
}
#head-more-box #recommend>a>span{
    font-size: 14px;
}
#head-more-box #recommend>div {
    width: 70px;
    height: 30px;
    background: white;
    border-radius: 10px;
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

#head-more-box #more-options {
    width: 100%;
    height: 30%;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#head-more-box #more-options>a {
    text-decoration: none;
    color: #18191C;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#head-more-box #more-options>a:hover {
    background: #cccccc;
}

#head-more-box #line {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #cccccc;
}

#head-more-box #logout {
    width: 100%;
    display: flex;
    border-radius: 10px;
}
#head-more-box #logout>a {
    width: 100%;
    text-decoration: none;
    color: #18191C;
    font-size: 14px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
}
#head-more-box #logout:hover {
    background: #cccccc;
}
/*头像框右边的icon*/
.nav-right>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-right-icon {
    width: 25px;
}
#upload {
    width: 15%;
    height: 60%;
    background-color: #f97198;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* 主体 */
.main {
    height: 100%;
    display: flex;
    background-color: #edeff5;
}

/* 侧边导航栏 */
.sidebar {
    text-align: center;
    width: 180px;
    background-color: #ffffff;
    color: #000000;
}

.nav-upload-logo {
    margin-top: 24px;
    margin-bottom: 17px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    padding: 0;
}

.main-menu li a {
    text-align: start;
    padding: 12px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.main-menu li a > img {
    margin-left: 10px;
    margin-right: 15px;
}


.main-menu li a:hover {
    background-color: #d8e2e8;
    flex-grow: 1;
}

/* 主体内容 */
.content {
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 80%;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.top {
    width: 90%;
    background: #ffffff;
    margin-bottom: 30px;
}

.top-title{
    padding: 30px;
    border-bottom: 1px solid #e3e2e2;
    font-size: 16px;
    font-weight: bold; /* 700 */
}

.top-file{
    display: flex;
    padding: 30px;
    font-size: 16px;
    font-weight: bold; /* 700 */
}

.main-info{
    display: flex;
    flex-direction:column;
    width: 90%;
    background: #ffffff;
}

.main-info-title{
    padding: 30px;
    font-size: 16px;
    font-weight: bold; /* 700 */
}

.main-info-item{
    padding: 30px;
}

.title-input{
    margin-left: 50px;
    width:60%;
    font-size: 20px;
}

.introduction-input{
    margin-left: 50px;
    width:60%;
    height: 120px;
    resize: none;
}

.main-info-btn{
    margin-left: 300px;
}


.btn-cancel {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    transition: 0.3s;
}

.btn-cancel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.btn-cancel:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(0);
}

.btn-upload {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    background-color: #3498db;
    color: #fff;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    transition: 0.3s;
}

.btn-upload:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.btn-upload:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(0);
}