* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: all 0.3s ease;
}

:root {
    --info-bg-color: #ffffff;
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}

/* 深色 */
.dark {
    --info-bg-color: #333333;
    --body-color: #202224;
    --sidebar-color: #171717;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: all 0.3s ease;
}

.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image,
.icon {
    min-width: 60px;
    border-radius: 6px;
}

.icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 300 23px '';
}

.text,
.icon {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.text {
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

header {
    position: relative;
}

.image-text {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font: 600 18px '';
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 45px;
    border-radius: 6px;
}

.toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle {
    color: #ccc;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: all 0.3s ease;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    border-radius: 6px;
    cursor: pointer;
}

.switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: all 0.3s ease;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: all 0.3s ease;
}

.dark .sidebar li a:hover .icon,
.dark .sidebar li a:hover .text {
    color: #ccc;
}

.dark .mode .sun-moon i.sun {
    opacity: 1;
}

.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.dark .switch::before {
    left: 20px;
}

/*---------------- 主内容块 -------------------*/
/* 主内容区域样式 */
.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 220px; /* 侧边栏完全展开时的边距 */
    padding: 20px; /* 根据需要调整 */
}

/* 当侧边栏收起时调整主内容区域的边距 */
.sidebar.close + .main-content {
    margin-left: 88px; /* 侧边栏收起时的边距 */
}