.Collection-list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-overflow: ellipsis;
    margin-top: 50px;
    margin-bottom: 20px;
}
.video-img{
    width: 200px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}
.video-title{
    display: inline-block;
    /*width: 200px;*/
    text-overflow: ellipsis;
}
.video-item{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.video-info{
    text-overflow: ellipsis;
}
 a{
    text-decoration: none;
     text-overflow: ellipsis;
    color: #3cccfc;
}

.time-stamp{
     color: darkgray;
     font-size: 12px;
}

.Mycollection{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: revert;
    font-size: 20px;
    border-bottom: 1px solid darkgray;
}

